@page "/"

<!-- <button id="fetch">Fetch</button>
    <button id="stop">Stop</button> -->
<div
  id="systemInfoPopup"
  style="
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: white;
  "
>
  <div id="systemInfoContent"></div>
  <button id="closePopupBtn">Close</button>
</div>

